#content {
    text-align:center
}
body {
    margin:0;
    width:100%;
    height:100%;
    background-color:#000000;
}
#instructions {
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:red;
    color:white;
}
.login-card {
    padding:40px;
    width:650px;
    background-color:#D3D3D3;
    margin:0 auto 10px;
}

@media screen and (max-width:450px) {
    .login-card{
        width:70%
    }
}
img {
    width:70%;
    height:70%;
}